.container {
  max-width: 550px;
  margin: 0 auto;
  background-color: #ffff;
  -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
  box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

a,
p {
  color: #4b5156;
}

.header {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(90deg, #3399cc 0%, #5cadd6 43%, #3399cc 100%);
}

.header a {
  color: rgb(247, 247, 247);
  text-decoration: none;
}

.task-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-top: 1px solid #dfe4ea;
  overflow: hidden;
}

.task-title {
  display: flex;
  padding: 20px;
}

.task-title a {
  text-decoration: none;
  color: #4b5156;
  margin-left: 10px;
}

.task-complete-icon {
  height: 20px;
  width: 20px;
  background-color: rgb(105, 192, 105);
  border-radius: 50%;
}

.task-incomplete-icon {
  height: 20px;
  width: 20px;
  background-color: rgb(218, 218, 218);
  border-radius: 50%;
}

.delete-link {
  text-decoration: none;
  font-weight: 900;
  color: #f00;
  font-size: 22px;
  line-height: 0;
  padding: 20px 20px;
}

/* search */

#add-link {
  color: #3399cc;
  text-decoration: none;
  font-size: 42px;
  text-shadow: 1px 1px #81413b;
}

#search-add-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#search-add-wrapper form {
  margin-top: 20px;
  display: flex;
}

/* Button */
.button {
  border: 1px solid #3399cc;
  background-color: #fafafa;
  color: #3399cc;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

/* inputs */
input[type="text"],
input[type="password"],
textarea {
  border: 1px solid #3399cc;
  border-radius: 5px;
  padding: 10px;
  width: 90%;
}

label {
  padding-top: 10px !important;
  display: block;
}

.card-body {
  padding: 20px;
}

.card-body form {
  margin: 0;
  padding: 0;
}
